{% extends "base.html" %}

{% block content %}

<div class="container">
   <!-- top of tabs -->
    <br><br>
	 <a href="/forum/question/new/"> <button type="button" class="btn btn-warning pull-right">Ask Question</button></a>
	<br><br>
	
	<!--end -->
	<!-- search -->
	<div class="container">
		<div class="row">
		    <form action="Search.html" role="search" method="post">
		        <div class="form-group">
		           <div id="custom-search-input">
                        <div class="input-group col-md-10">
                        	<input type="text" class="search-query form-control" name="search" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" type="submit">
                                		<span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                        </div>
                     </div>
                 </div>
			</form>
		</div>
	</div><br><br>
	<!-- end search -->
	
	<!-- tabs -->

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="well">
      <h3 class="name pull-left clearfix"></h3>
      <div class="clearfix"></div>
      <ul class="nav nav-tabs">
	<li class="">
	  <a href="#tab" data-toggle="tab" aria-expanded="false">Recent Questions</a>
        </li>
	<li class="">
	  <a href="#tab2" data-toggle="tab" aria-expanded="false">Most Viewed</a>
	</li>
	<li class="active">
	  <a href="#tab3" data-toggle="tab" aria-expanded="true">Unanswered</a>
	</li>
      </ul>
                			
<!-- tab content 1-->
<div class="tab-content">
  
  <div class="tab-pane active in" id="recent">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	<p><br></p>
          <div class="tab-content">
	    <div class="tab-pane" id="tab"> 
	      <div class="list-group">
		{% for question in latest_questions %}
		  
		<span class="list-group-item" class="pull-right">
		<h4><a href="Question.html">{{ question.question }}</a></h4>
		<em class="pull-right">Author: {{ question.user.username }} Created: {{ question.created_at }}</em>
		{% if question.answer_set.all %}
		{% for answer in question.answer_set.all %}
		<br />
		<hr />
		<p>{{ answer.answer }}</p>
		<p><b>{{answer.user.username }} said it in {{ answer.language }}</b></p>
		{% endfor %}
		{% endif %}
		<br />
		{% if question.answer_set.all %}
		<a href="http://127.0.0.1:8000/forum/question/{{ question.id }}/answer/new">Say it Like You!</a>
		{% else %}
		<a href="http://127.0.0.1:8000/forum/question/{{ question.id }}/answer/new">Answer Question</a>
		{% endif %}
		</span>  
		{% endfor %}
		</div>
	      </div>
            </div><!-- end tab content?? --?
	  </div><!-- end tab pane??  -->
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end tab pane -->
  </div><!-- end tab content -->

  
  
 </div><!-- well -->
 </div><!-- end col -->
 </div><!-- end row -->
 <br /><br /><br />
 	

{% endblock %}
