{% extends "base.html" %}

{% block content %}

<div class="container">
   <!-- top of tabs -->
    <br><br>
	 <a href="http://web.cs.dal.ca/~elewis/AskQuestion.html"> <button type="button" class="btn btn-warning pull-right">Ask Question</button></a>
	<br><br>
	
	<!--end -->
	<!-- search -->
	<div class="container">
		<div class="row">
		    <form action="Search.html" role="search" method="post">
		        <div class="form-group">
		           <div id="custom-search-input">
                        <div class="input-group col-md-10">
                        	<input type="text" class="search-query form-control" name="search" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" type="submit">
                                		<span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                        </div>
                     </div>
                 </div>
			</form>
		</div>
	</div><br><br>
	<!-- end search -->
	
	<!-- tabs -->

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="well">
      <h3 class="name pull-left clearfix"></h3>
      <div class="clearfix"></div>
      <ul class="nav nav-tabs">
	<li class="">
	  <a href="#tab" data-toggle="tab" aria-expanded="false">Recent Questions</a>
        </li>
	<li class="">
	  <a href="#tab2" data-toggle="tab" aria-expanded="false">Most Viewed</a>
	</li>
	<li class="active">
	  <a href="#tab3" data-toggle="tab" aria-expanded="true">Unanswered</a>
	</li>
      </ul>
                			
      <!-- tab content 1-->
    <div class="tab-content">
      <div class="tab-pane active in" id="recent">
        <div class="row">
	  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	    <p><br>
	    </p>
	    <div class="tab-content">
	      <div class="tab-pane" id="tab"> 
	        <div class="list-group">
		  {% for question in latest_questions %}
	          <span class="list-group-item" class="pull-right"> <a href="Question.html">{{ question.question }}</a> </span>
	          <span class="list-group-item" class="pull-right"> <a href="Question.html">{{ question.question }}</a> </span>
	          <span class="list-group-item" class="pull-right"> <a href="Question.html">{{ question.question }}</a> </span>
		  {% endfor %}
		</div>
	    </div>

	    <!-- tab content 2-->
	    <div class="tab-pane fade" id="viewed">
	        <div class="list-group">
		  {% for question in latest_questions %}
		   <span class="list-group-item" class="pull-right"> <a href="Question.html">{{ question.question }}</a> </span>
                        <span class="list-group-item" class="pull-right"> <a href="Question.html">{{ question.question }}</a> </span>
                        <span class="list-group-item" class="pull-right"> <a href="Question.html">{{ question.question }}</a> </span>
		  {% endfor %}
                    </div>
            	</div>
		
		<!-- tab content 3 -->
        	<div class="tab-pane fade active in" id="unanswered">
            	<div class="list-group">
		  {% for question in latest_questions %}
                	<span class="list-group-item" class="pull-right"> <a href="Question.html">{{ question.question }}</a> </span>
                    <span class="list-group-item" class="pull-right"> <a href="Question.html">{{ question.question }}</a> </span>
                    <span class="list-group-item" class="pull-right"> <a href="Question.html">{{ question.question }}</a> </span>
		  {% endfor %}
                </div>
			</div>
        </div>
    </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 
 <br /><br /><br />
 	
{% for question in latest_questions %}

<div class="question-wrapper">
  <hgroup>
    <h3>Question: {{ question.question }}</h3>
    <h4>Posted by: {{ question.user.username }}</h4>
  </hgroup>
  
  <p><em>{{ question.tags }}</em></p>

{{question.answers}}

{% if question.answer_set.all %}
{% for answer in question.answer_set.all %}
<div class="answer-wrapper">
  <p>{{ answer.answer }}</p>
  <p>{{answer.user.username }} said it in {{ answer.language }}</p>
<div
{% endfor %}
{% endif %}
</div>

{% if question.answer_set.all %}
<a href="http://127.0.0.1:8000/forum/question/{{ question.id }}/answer/new">Say it Like You!</a>
{% else %}
<a href="http://127.0.0.1:8000/forum/question/{{ question.id }}/answer/new">Answer Question</a>
{% endif %}

<hr />
{% endfor %}

{% endblock %}
